* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff;
  margin: 0 auto;
  padding-top: 5rem;
  font-family: 'RIDIBatang';
  font-size: 44.8px;
  color: #333;
  width: 1280px;
  @media screen and (max-width: 1280px) {
    width: 960px;
  }

  @media screen and (max-width: 960px) {
    width: 720px;
  }

  @media screen and (max-width: 720px) {
    width: 480px;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    padding: 1rem 16px 0;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  #root {
    position: relative;
    textarea {
      line-height: 1.3;
      border: none;
      width: 100%;
      outline: none;
      resize: none;
      height: 100%;
      font-size: 44.8px;
      &::placeholder {
        color: #aaa;
        font-style: italic;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    img {
      cursor: pointer;
      width: 40px;
      height: 40px;
      position: fixed;
      right: 20px;
      top: 20px;
      &.clipboard {
        top: 75px;
      }
      &.redo {
        top: 130px;
      }
      @media screen and (max-width: 480px) {
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 20px;
        right: 0;
        &.clipboard {
          bottom: 65px;
          top: unset;
        }
        &.github {
          bottom: 110px;
          top: unset;
        }
        &.redo {
          top: unset;
        }
      }
    }
  }
}

html,
body,
#root {
  height: 100%;
}
